.contact-container {
  row-gap: 2rem;
}

.contact-images {
  position: relative;
  display: flex;
  justify-content: center;
}

.contact-orbe {
  width: 266px;
  height: 316px;
}
.contact-img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  inset: 0;
  margin: auto;
}

.contact-description {
  font-size: var(--small-fnt-size);
  margin-bottom: 2.5rem;
}

.contact-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem .75rem;
}

.contact-card_box {
  background-color: var(--second-color);
  border: 2px solid var(--title-color);
  padding: 1.25rem .75rem;
  border-radius: .5rem;
  transition: .3s;
}

.contact-card_information {
  display: flex;
  align-items: flex-start;
  column-gap: .75rem;
  margin-bottom: 1.25rem;
}

.contact--card_title {

}

.contact-card_button {
  font-size: 1.25rem;
  padding: 14px 0;
  width: 100%;
  border-radius: .25em;
  background: #00000080;
  font-weight: 600;
  box-shadow: none;
}

.contact-card_button:hover {
  background-color: #00000080;
  color: #fff;
}

.contact-card_box:hover {
  box-shadow: 0 8px 24ox hsla(228, 66%, 45%, .1);
}
